body {
    background: black;
    font-family: 'Noto Serif', serif;
    margin: 0px;
    z-index: 1;
}

main {
    display: flex;
    margin-top: 150px;
    justify-content: center;
}

#keyNote {
    width: 100%;
    height: 350px;
    max-width: 880px;
    position: relative;
    cursor: none;
}

.key {
    border: 2px solid black;
    border-radius: 10px;
    transition: all .1s ease;
    box-sizing: border-box;
    z-index: 2;
    float: left;
    background-color: white;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

span {
    font-size: xx-large;
    margin-bottom: 5px;
}

.key > span {
    color: black;
    z-index: 4;
}

.keySharp > span {
    color: white;
    z-index: 4;
}

.keySharp {
    position: absolute;
    transition: all .1s ease;
    width: 6%;
    height: 60%;
    background: black;
    top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#Csharp {
    margin-left: 7%;
}

#Dsharp {
    margin-left: 17%;
}

#Fsharp {
    margin-left: 37%;
}

#Gsharp {
    margin-left: 47%;
}

#Asharp {
    margin-left: 57%;
}

#highCsharp {
    margin-left: 77%;
}

#highDsharp {
    margin-left: 87%;
}

.decrease {
    transform: scale(.95);
}