body {
    margin: 0px;
}

main {
    display: flex;
    margin-top: 150px;
    justify-content: center;
}

#keyNote {
    width: 100%;
    height: 350px;
    max-width: 880px;
    position: relative;
}

.key {
    border: 2px solid black;
    border-radius: .5rem;
    transition: all .07s ease;
    display: block;
    box-sizing: border-box;
    z-index: 1;
    float: left;
    width: 10%;
    height: 100%;
    background: rgba(255, 255, 255, .8);  
}

.keySharp {
    position: absolute;
    width: 6%;
    height: 60%;
    background: #000;
    color: #eee;
    top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 2;
}

#Csharp {
    margin-left: 7%;
}

#Dsharp {
    margin-left: 17%;
}

#Fsharp {
    margin-left: 37%;
}

#Gsharp {
    margin-left: 47%;
}

#Asharp {
    margin-left: 57%;
}

#highCsharp {
    margin-left: 77%;
}

#highDsharp {
    margin-left: 87%;
}

.decrease {
    transform: scale(.90);
}